.logged-in-user {
   position: relative;
   top: -16px;
   right: -706px;
   color: aquamarine;
 }

#a {
   color: brown;
}

/* Dropdown Button */
.dropbtn {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }
 
 /* Dropdown button on hover & focus */
 .dropbtn:hover, .dropbtn:focus {
   background-color: #2980B9;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd;}
 
 /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
 .show {display:block;}


 .button {
  text-align: center;
  margin: auto;
  width: 30%;
}

.vertical-nav {
  display: flex;
  flex-direction: column;
}

.app-title {
  text-align: center;
}

a.secondary {
  font-size: 12px;
  padding: 5px;
}


.avatar {
  position: relative;
  width: 25%;
  display: block;
}

.avatar-aspect-ratio {
  width: 100%;
  padding-bottom: 100%;
}

.avatar img {
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.username {
  position: absolute;
  top: 0;
  left: 0;
}


.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container {
  display: flex;
}

.links-container > * {
  margin-right: 10px;
}

.my-stuff {
  /* text-align: center;
  margin: auto;
  width: 30%;
  white-space: nowrap; */
  white-space: normal;
  word-break: break-word;
  text-align: center;
}

.profile-photo {
  width: 50px; /* Adjust the width as desired */
  height: 50px; /* Adjust the height as desired */
  border-radius: 50%; /* Makes the image round */
}

.tweets {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  flex-direction: column;
}

.new-tweet-form {
  text-align: center;
  margin: auto;
  width: 50%;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  /* border-radius: 5px; */
  width: 50px;
  height: 50px; 
  border-radius: 50%;
  cursor: pointer;
}

.fixed-button:hover {
  background-color: #0056b3;
}

/* .form-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 999;
  background-color: #181623;
  padding: 20px;
  border: 1px solid #0d142e;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.form-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 999;
  /* background-color: #181623; */
  padding: 20px;
  /* border: 1px solid #0d142e; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
}
